<div class="modal-group">
{% assign fr = site.data.friend.friend %}
{%- for buddy in fr  -%}
	<div class="modal" id="{{ buddy.id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <img alt="Logo {{ buddy.name }}" class="my-image rounded-circle" src="{{ buddy.img }}">
    <h1 class="text-center mb-0 font-weight-bolder">{{ buddy.name }}</h1>
    <hr class="border-bottom">
    <div class="share text-center mt-15">
        {% for share in buddy.link %}
        {% assign link = share.link | replace: 'TITLE', title | replace: 'URL', url
        %}
        <a data-toggle="tooltip" data-placement="top" data-title="{{ share.type }}" target="_blank" rel="noopener"
            aria-label="{{ share.type }}" class="btn border rounded-40 mt-5" href="{{ link }}"><i
                class="bi {{ share.icon }}"></i> {{ share.type }}</a>
        {% endfor %}
    </div>
      <div class="text-right mt-20">
        <a data-dismiss="modal" class="btn btn-primary" role="button">Oke</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>